In [68]:
import pandas as pd

In [69]:
data1 = pd.read_excel("ShortListInstitutions.xlsx")
data2 = pd.read_excel("hd2019.xlsx")
data1.shape, data2.shape

((185, 8), (6559, 73))

In [70]:
df = pd.merge(data1, data2, on = "DUNS", how="left")
df

,Institution name,DUNS,AlternateDUNS,notes,State,OPE,IPEDs,ZIP_x,UNITID,INSTNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
0,University of Alabama at Birmingham,63690705,NaN,NaN,AL,105200,100663,35294,100663.0,University of Alabama at Birmingham,...,1.0,142.0,-2.0,1073.0,Jefferson County,107.0,-86.799345,33.505697,98.0,1.0
1,University of Alabama,45632635,NaN,Tuscaloosa (only),AL,105100,100751,35487,100751.0,The University of Alabama,...,1.0,-2.0,-2.0,1125.0,Tuscaloosa County,107.0,-87.545978,33.211875,96.0,1.0
2,University of South Alabama,172750234,NaN,NaN,AL,105700,102094,36688,102094.0,University of South Alabama,...,1.0,380.0,-2.0,1097.0,Mobile County,101.0,-88.178711,30.696033,101.0,1.0
3,"University of Alaska, Fairbanks",615245164,NaN,NaN,AK,106300,102614,99775,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University of Arizona,806345617,NaN,NaN,AZ,108300,104179,85719,104179.0,University of Arizona,...,1.0,536.0,-2.0,4019.0,Pima County,403.0,-110.950815,32.232672,96.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,South Carolina Department of Education,69313609,NaN,NaN,SC,3424400,392415,29201,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,Erikson Institute,109012328,NaN,NaN,IL,3510300,409254,60654,409254.0,Erikson Institute,...,1.0,176.0,-2.0,17031.0,Cook County,1707.0,-87.632178,41.890663,179.0,1.0
243,"University of California, Merced",113645084,NaN,NaN,CA,4127100,445188,95344,445188.0,University of California-Merced,...,1.0,488.0,-2.0,6047.0,Merced County,616.0,-120.424944,37.366237,102.0,2.0
244,Colorado State University,785979618,NaN,NaN,CO,3343700,446978,80521,126818.0,Colorado State University-Fort Collins,...,1.0,-2.0,-2.0,8069.0,Larimer County,802.0,-105.080732,40.574805,97.0,1.0
245,Ball State University,65540726,NaN,NaN,IN,178600,150136,47306,150136.0,Ball State University,...,1.0,294.0,-2.0,18035.0,Delaware County,1806.0,-85.409043,40.203431,100.0,2.0

In [71]:
df1 = df.drop_duplicates("DUNS")
df1

,Institution name,DUNS,AlternateDUNS,notes,State,OPE,IPEDs,ZIP_x,UNITID,INSTNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
0,University of Alabama at Birmingham,63690705,NaN,NaN,AL,105200,100663,35294,100663.0,University of Alabama at Birmingham,...,1.0,142.0,-2.0,1073.0,Jefferson County,107.0,-86.799345,33.505697,98.0,1.0
1,University of Alabama,45632635,NaN,Tuscaloosa (only),AL,105100,100751,35487,100751.0,The University of Alabama,...,1.0,-2.0,-2.0,1125.0,Tuscaloosa County,107.0,-87.545978,33.211875,96.0,1.0
2,University of South Alabama,172750234,NaN,NaN,AL,105700,102094,36688,102094.0,University of South Alabama,...,1.0,380.0,-2.0,1097.0,Mobile County,101.0,-88.178711,30.696033,101.0,1.0
3,"University of Alaska, Fairbanks",615245164,NaN,NaN,AK,106300,102614,99775,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University of Arizona,806345617,NaN,NaN,AZ,108300,104179,85719,104179.0,University of Arizona,...,1.0,536.0,-2.0,4019.0,Pima County,403.0,-110.950815,32.232672,96.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,South Carolina Department of Education,69313609,NaN,NaN,SC,3424400,392415,29201,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,Erikson Institute,109012328,NaN,NaN,IL,3510300,409254,60654,409254.0,Erikson Institute,...,1.0,176.0,-2.0,17031.0,Cook County,1707.0,-87.632178,41.890663,179.0,1.0
243,"University of California, Merced",113645084,NaN,NaN,CA,4127100,445188,95344,445188.0,University of California-Merced,...,1.0,488.0,-2.0,6047.0,Merced County,616.0,-120.424944,37.366237,102.0,2.0
244,Colorado State University,785979618,NaN,NaN,CO,3343700,446978,80521,126818.0,Colorado State University-Fort Collins,...,1.0,-2.0,-2.0,8069.0,Larimer County,802.0,-105.080732,40.574805,97.0,1.0
245,Ball State University,65540726,NaN,NaN,IN,178600,150136,47306,150136.0,Ball State University,...,1.0,294.0,-2.0,18035.0,Delaware County,1806.0,-85.409043,40.203431,100.0,2.0

In [72]:
df2 = df1[["Institution name", "DUNS","OPEID","IPEDs","ZIP_x","notes","State","UNITID","SECTOR","HBCU","TRIBAL","LOCALE","OPENPUBL","CARNEGIE"]]
df2

,Institution name,DUNS,OPEID,IPEDs,ZIP_x,notes,State,UNITID,SECTOR,HBCU,TRIBAL,LOCALE,OPENPUBL,CARNEGIE
0,University of Alabama at Birmingham,63690705,105200.0,100663,35294,NaN,AL,100663.0,1.0,2.0,2.0,12.0,1.0,15.0
1,University of Alabama,45632635,105100.0,100751,35487,Tuscaloosa (only),AL,100751.0,1.0,2.0,2.0,12.0,1.0,15.0
2,University of South Alabama,172750234,105700.0,102094,36688,NaN,AL,102094.0,1.0,2.0,2.0,12.0,1.0,16.0
3,"University of Alaska, Fairbanks",615245164,NaN,102614,99775,NaN,AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University of Arizona,806345617,108300.0,104179,85719,NaN,AZ,104179.0,1.0,2.0,2.0,11.0,1.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,South Carolina Department of Education,69313609,NaN,392415,29201,NaN,SC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,Erikson Institute,109012328,3510300.0,409254,60654,NaN,IL,409254.0,2.0,2.0,2.0,11.0,1.0,-2.0
243,"University of California, Merced",113645084,4127100.0,445188,95344,NaN,CA,445188.0,1.0,2.0,2.0,41.0,1.0,-2.0
244,Colorado State University,785979618,135000.0,446978,80521,NaN,CO,126818.0,1.0,2.0,2.0,12.0,1.0,15.0
245,Ball State University,65540726,178600.0,150136,47306,NaN,IN,150136.0,1.0,2.0,2.0,13.0,1.0,16.0

In [73]:
df2.to_csv("output2.csv")

In [83]:
data3 = pd.read_excel("RevisedDUNS.xlsx")
data3
df3 = pd.merge(data3, data2, on = "DUNS", how = "left")
df3

,Institution name,DUNS,AlternateDUNS,notes,State,OPE,IPEDs,ZIP_x,UNITID,INSTNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
0,University of Alabama at Birmingham,63690705,NaN,NaN,AL,105200.0,100663.0,35294,100663.0,University of Alabama at Birmingham,...,1.0,142.0,-2.0,1073.0,Jefferson County,107.0,-86.799345,33.505697,98.0,1.0
1,University of Alabama,45632635,NaN,Tuscaloosa (only),AL,105100.0,100751.0,35487,100751.0,The University of Alabama,...,1.0,-2.0,-2.0,1125.0,Tuscaloosa County,107.0,-87.545978,33.211875,96.0,1.0
2,University of South Alabama,172750234,NaN,NaN,AL,105700.0,102094.0,36688,102094.0,University of South Alabama,...,1.0,380.0,-2.0,1097.0,Mobile County,101.0,-88.178711,30.696033,101.0,1.0
3,"University of Alaska, Fairbanks",615245164,NaN,NaN,AK,106300.0,102614.0,99775,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University of Arizona,806345617,NaN,NaN,AZ,108300.0,104179.0,85719,104179.0,University of Arizona,...,1.0,536.0,-2.0,4019.0,Pima County,403.0,-110.950815,32.232672,96.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,Wisconsin Department of Education,809611254,NaN,NaN,WI,NaN,NaN,53703,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,Wyoming Department of Education,809872336,NaN,NaN,WY,NaN,NaN,82001,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,Zaption,079279749,NaN,no special status,CA,NaN,NaN,91360,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,Zuni Learning Tree,080494814,NaN,Woman owned,AR,NaN,NaN,72034,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,Zyante,033385935,NaN,no special status,CA,NaN,NaN,95033,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
df4 = df3.drop_duplicates("Institution name")
df4

,Institution name,DUNS,AlternateDUNS,notes,State,OPE,IPEDs,ZIP_x,UNITID,INSTNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
0,University of Alabama at Birmingham,63690705,NaN,NaN,AL,105200.0,100663.0,35294,100663.0,University of Alabama at Birmingham,...,1.0,142.0,-2.0,1073.0,Jefferson County,107.0,-86.799345,33.505697,98.0,1.0
1,University of Alabama,45632635,NaN,Tuscaloosa (only),AL,105100.0,100751.0,35487,100751.0,The University of Alabama,...,1.0,-2.0,-2.0,1125.0,Tuscaloosa County,107.0,-87.545978,33.211875,96.0,1.0
2,University of South Alabama,172750234,NaN,NaN,AL,105700.0,102094.0,36688,102094.0,University of South Alabama,...,1.0,380.0,-2.0,1097.0,Mobile County,101.0,-88.178711,30.696033,101.0,1.0
3,"University of Alaska, Fairbanks",615245164,NaN,NaN,AK,106300.0,102614.0,99775,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University of Arizona,806345617,NaN,NaN,AZ,108300.0,104179.0,85719,104179.0,University of Arizona,...,1.0,536.0,-2.0,4019.0,Pima County,403.0,-110.950815,32.232672,96.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,Wisconsin Department of Education,809611254,NaN,NaN,WI,NaN,NaN,53703,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,Wyoming Department of Education,809872336,NaN,NaN,WY,NaN,NaN,82001,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,Zaption,079279749,NaN,no special status,CA,NaN,NaN,91360,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,Zuni Learning Tree,080494814,NaN,Woman owned,AR,NaN,NaN,72034,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,Zyante,033385935,NaN,no special status,CA,NaN,NaN,95033,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
df5 = df4[["Institution name", "DUNS","OPEID","IPEDs","ZIP_x","notes","State","UNITID","SECTOR","HBCU","TRIBAL","LOCALE","OPENPUBL","CARNEGIE","LONGITUD","LATITUDE"]]
df5

,Institution name,DUNS,OPEID,IPEDs,ZIP_x,notes,State,UNITID,SECTOR,HBCU,TRIBAL,LOCALE,OPENPUBL,CARNEGIE,LONGITUD,LATITUDE
0,University of Alabama at Birmingham,63690705,105200.0,100663.0,35294,NaN,AL,100663.0,1.0,2.0,2.0,12.0,1.0,15.0,-86.799345,33.505697
1,University of Alabama,45632635,105100.0,100751.0,35487,Tuscaloosa (only),AL,100751.0,1.0,2.0,2.0,12.0,1.0,15.0,-87.545978,33.211875
2,University of South Alabama,172750234,105700.0,102094.0,36688,NaN,AL,102094.0,1.0,2.0,2.0,12.0,1.0,16.0,-88.178711,30.696033
3,"University of Alaska, Fairbanks",615245164,NaN,102614.0,99775,NaN,AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University of Arizona,806345617,108300.0,104179.0,85719,NaN,AZ,104179.0,1.0,2.0,2.0,11.0,1.0,15.0,-110.950815,32.232672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,Wisconsin Department of Education,809611254,NaN,NaN,53703,NaN,WI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,Wyoming Department of Education,809872336,NaN,NaN,82001,NaN,WY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,Zaption,079279749,NaN,NaN,91360,no special status,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,Zuni Learning Tree,080494814,NaN,NaN,72034,Woman owned,AR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,Zyante,033385935,NaN,NaN,95033,no special status,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
df5.to_csv("output3.csv")